/* General --------------------------- --------------*/

:root {
  --lgreen: #f8faf6;
  --dgreen: #72A568;
}

body {
  background: #fff;
  color: #666666;
  font-family: "Roboto";
  /* these two lines fix size overflow errors */
  width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
	background: rgb(127, 127, 127, 0.5);
	border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgb(127, 127, 127, 1);
}

body::-webkit-scrollbar-track {
	display: none;
}

html {
  scroll-behavior: smooth;
  background-size: cover;
  min-height: 100%;
}

a {
  color: #288720;
}

a:hover, a:active, a:focus {
  color: #3cae3a;
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  padding: 0;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  font-weight: 400;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../media/preloader.svg") no-repeat center center;
}

.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 775px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #3cae3a;
  color: #fff;
}

.section {
  padding: 80px 0 60px 0;
  background: #fff;
}

@media (max-width: 775px) {
  .section {
    padding: 60px 0 40px 0;
  }
}

@media (max-width: 400px) {
  .section {
    padding: 40px 0 30px 0;
  }
}

.section.green {
  background: var(--lgreen);
}

.xcol {
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.flex {
  display: flex;
}

@media (min-width: 775px) {
  .flexfull {
    display: flex;
  }
}

@media (min-width: 400px) {
  .flexhalfup {
    display: flex;
  }
}

@media (max-width: 400px) {
  .flexthin {
    display: flex;
  }
}

.xrow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.xcontainer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.xcontainer {
  max-width: 65vw;
}

.xcontainer.wide {
  max-width: 82.5vw;
}

@media (max-width: 775px) {
  .xrow.col-tab {
    flex-wrap: wrap;

    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
  }

  .chunk.large {
    padding: 15px 4vw;
  }
}

@media (max-width: 400px) {
  .xrow.col-cel {
    flex-wrap: wrap;

    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: column;
  }

  .xcol.row-cel {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .xcontainer {
    max-width: 70vw;
  }

  .xcontainer.wide {
    max-width: 85vw;
  }

  .xcontainer.wide-cel {
    max-width: 85vw;
  }
}

/* Header --------------------------------------------*/

#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  width: 126px;
  padding: 0;
  margin: 0;
}

@media (max-width: 775px) {
  #header #logo h1 {
    font-size: 26px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

#header.header-fixed {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

/* Nav Menu ------------------------------------------*/

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  right: 0; /* added */
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 0; /* added */
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 775px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  outline: none;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0; /* added */
  background-color: #3cae3a;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-menu ul {
  margin: 4px 0 0 0;
  border: 1px solid #e7e7e7;
}

.nav-menu ul li {
  background: #fff;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li a:hover {
  background: #3cae3a;
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 775px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #3cae3a;
}

#mobile-nav ul .menu-item-active {
  color: #3cae3a;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

/* Hero Section --------------------------------------*/

#hero {
  width: 100%;
  height: 100vh;
  background: url(../media/hero-bg.jpg) top center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  /* background: rgba(0, 0, 0, 0.6); */
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin-left: 17.5vw;
  text-align: left;
  color: #fff;
}

.blog #hero h1 {
  margin-left: 0;
  text-align: center;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 400px) {
  #hero h1 {
    margin-left: 15vw;
  }
}

/* About Section -------------------------------------*/

#about .about-container .content {
  background: #fff;
}

#about h1 {
  text-align: left;
}

#about .text-block {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  /* padding: 0 100px 0 80px; */
  padding-right: 100px;
}

@media (min-width: 775px) {
  #about img {
    max-width: 25vw;
  }

  #about .about-container {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media (max-width: 180px) {
  #about .about-container .title {
    padding-top: 0px;
  }
}

@media (max-width: 775px) {
  #about h1 {
    padding-bottom: 25px;
  }

  #about img {
    max-width: 40vw;
  }

  #about .text-block {
    padding-right: 0;
    padding-bottom: 30px;
  }

  #about .about-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 400px) {
  #about {
    padding-bottom: 20px;
  }

  #about h1 {
    padding-bottom: 10px;
    font-size: 35px;
   }

   #about img {
    max-width: 70vw;
  }
}

/* Description Section -------------------------------*/

#descr .descr-container {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  margin-bottom: 60px;
  flex-wrap: nowrap;
}

#descr h2 {
   color: #62834d;
   font-weight: 700;
   font-size: 27px;
   text-transform: uppercase;
}

#descr .text-block {
  padding: 0 8.75vw 0 8.75vw;
}

#descr img {
  max-height: 17.5vw;
  min-height: 170px;
  padding: 40px 13vw 40px 0;
}

#descr .middle img {
  /* max-height: 17.5vw; */
  padding: 40px 0 40px 13vw;
}

.blog #descr .descr-container {
  margin-bottom: 30px;
}

.blog #descr .descr-container.mid-content {
  max-width: 41vw;
  flex-wrap: wrap;
}

.blog #descr .text-block {
  padding: 0 2vw 0 0;
}

.blog #descr .text-block.top {
  margin-bottom: 60px;
}

.blog #descr p {
  padding: 0;
}

.blog #descr .caption {
  color: #999;
  font-size: 18px;
}

.blog #descr .content.left-half {
  padding-right: 0.5vw;
}

.blog #descr img {
  padding: 0;
  max-height: 12vw;
}

.blog #descr .lone img {
  border-radius: 15%;
}

.blog #descr .left-half video {
  vertical-align: middle;
  object-position: left;

}

.blog #descr .left-half video text {
  color: white;
  font-size: 300%;
  text-align: center;
  display: inline-block;
  background: #dddddd;
  width: 35.8%;
  height: 262px;
  vertical-align: middle;
  vertical-align: center;
  line-height: 5.4;
  margin-bottom: 5px;
}

.blog #descr .caption {
  padding-top: 10px;
}

.blog #descr .mid-content .right-half img,
.blog #descr .mid-content .left-half img,
.blog #descr .mid-content .left-half video {
  max-height: 14.25vw;
}

@media (max-width: 775px) {
  .blog #descr .text-block.top {
    margin-bottom: 20px;
  }

  .blog #descr img {
    max-height: 23.75vw;
  }

  .blog #descr .descr-container.mid-content {
    justify-content: left;
    max-width: 64vw;
  }

  .blog #descr .mid-content .right-half img,
  .blog #descr .mid-content .left-half img,
  .blog #descr .mid-content .left-half video {
    max-height: 23vw;
  }

  #descr .descr-container {
    justify-content: center;
    padding: 20px 0 20px 0;
    margin-bottom: 40px;

    display: flex;
    flex-wrap: nowrap;
  }

  .blog #descr .descr-container {
    margin-bottom: 20px;
  }

  .blog #descr .caption {
    font-size: 15px;
  }

  #descr img {
    padding: 0 8.75vw 0 0;
  }

  #descr .middle img {
    padding: 0 0 0 8.75vw;
  }

  #descr .text-block {
    padding: 0 4vw 0 8.75vw;
  }

  .blog #descr .text-block {
    padding: 0 0 20px 0;
  }

  #descr .middle .text-block {
    padding: 0 8.75vw 0 4vw;
  }
}

@media (min-width: 400px) {
  #descr .middle .content {
    order: 1;
  }
  #descr .middle .text-block {
    order: 2;
  }

  /*.blog #descr .mid-content .left-half img,
  .blog #descr .mid-content .left-half video  {
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
  }*/

  .blog #descr .left-half img,
  .blog #descr .left-half video  {
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
  }

  .blog #descr .right-half img {
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
  }

  .blog #descr .right-half.large img {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

@media (max-width: 400px) {
  .blog #descr .text-block.top {
    margin-bottom: 10px;
  }

  .blog #descr img {
    max-height: 34vw;
  }

  .blog #descr .descr-container.mid-content {
    justify-content: center;
  }

  .blog #descr .right-half img,
  .blog #descr .left-half img,
  .blog #descr .left-half video {
    max-width: 34vw;
    max-height: 34vw;
    min-height: 0;
    border-radius: 30px;
    margin-bottom: 10px;
  }

  .blog #descr .mid-content .right-half img,
  .blog #descr .mid-content .left-half img,
  .blog #descr .mid-content .left-half video {
    max-width: 50vw;
    max-height: 50vw;
    border-radius: 30px;
    /*margin-bottom: 10px;*/
  }

  .blog #descr .mid-content .right-half.large img {
    max-width: 65vw;
  }

  .blog #descr .descr-container {
    padding: 0;
  }

  #descr .descr-container {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  #descr .text-block {
    padding: 0 7.5vw 0 7.5vw;
  }

  #descr .middle .text-block {
    padding: 0 7.5vw 0 7.5vw;
  }

  #descr h2 {
    text-align: center;
  }

  #descr img {
    max-height: 50vw;
    padding: 0;
  }

  #descr .middle img {
    padding: 0;
  }
}

/* Update Section ------------------------------------*/

#upd {
  background: var(--dgreen);
}

#upd .chunk {
  color: #fff;
  margin: 60px 0;
}

#upd .title-line {
  justify-content: space-between;
  /* padding: 0 15px 0 15px; */
}

#upd h4 {
  font-weight: 300;
  font-style: italic;
}

#upd .mySlides {
  transition: all .75s ease;
  /*display: block;*/
}

#upd img {
  vertical-align: middle;
}

#upd .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

#upd .prev, #upd .next {
  cursor: pointer;
  position: absolute;
  top: calc(274px - (29px + 82px));
  width: auto;
  padding: 16px;
  margin-top: -22px;
  margin-left: calc(-8.75vw - 20px);
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#upd .next {
  margin-left: 0;
  margin-right: calc(-8.75vw - 20px);
  right: 0;
  border-radius: 3px 0 0 3px;
}

#upd .prev:hover, #upd .next:hover {
  color: var(--dgreen);
  background-color: #fff;
}

#upd .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

#upd .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

#upd .dot-container {
  text-align: center;
  /* position: absolute;
  z-index: 1;
  left: calc(50% - 32px); */
}

#upd .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff; /*#bbb;*/
  opacity: 0.5;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#upd .active, #upd .dot:hover {
  /*background-color: #fff;*/
  opacity: 1;
}

#upd @media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* -----------------------------------------------*/

/*h1 {
  font-size: 60px;
  text-align: center;
}*/

.content-slider {
  width: 100%;
  /*height: 525px; keep for 3 */
  height: 375px;
}

.slider {
  /* height: 450px; keep for 3 */
  height: 280px;
  width: 65vw;
  margin: 40px auto 0;
  overflow: visible;
  position: relative;
}

.mask {
  color: #fff;
  overflow: hidden;
  /* height: 450px; keep for 3 */
  height: 280px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 65vw;
  height: 320px;
  position: absolute;
  top: -325px;
  list-style: none;
}

.slider p, .slider a {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  font-weight: 300;
  color: #fff;
}

.slider .quote {
  font-size: 40px;
  font-style: italic;
}

.slider .source {
  font-size: 20px;
  text-align: right;
}

.slider li.anim {
  top: 0;
  transition: all .75s ease;
  z-index: 0;
}

/* @media (max-width: 775px) {
  .content-slider {
    height: 660px;
  }

  .slider {
    height: 660px;
  }

  .mask {
    height: 660px;
  }
} */

@media (max-width: 400px) {
  .content-slider {
    /*height: 630px;*/
    height: 440px;
  }

  .slider {
    /*height: 550px;*/
    height: 350px;
  }

  .mask {
    /*height: 550px;*/
    height: 350px;
  }
}

/* Team Section  -------------------------------------*/

#team .chunk {
  background: #fff;
  border-radius: 20px;
  /*flex-wrap: nowrap;*/
  /*max-width: 45vw;*/
}

#team .chunk.large {
  align-items: center;
  /*max-width: 33vw;*/
}

#team .chunk.large img {
  margin: 0 2vw 0 2vw;
  max-width: 10vw;
}

#team .chunk.large p {
  font-style: italic;
}

#team .member {
  padding: 20px 0 20px 0;
  text-align: center;
}

#team .chunk img {
  padding-bottom: 10px;
  max-width: 8vw;
}

#team h2 {
  font-weight: 500;
  font-size: 20px;
}

#team h3, #team h4 {
  font-size: 16px;
  font-style: italic;
}

#team h4, p {
  font-weight: 300;
}

@media (min-width: 775px) {
  #team .chunk {
    max-width: 45vw;
  }

  #team .chunk.large {
    margin-right: 2vw;
    max-width: 33vw;
  }

  #team .chunk.large p {
    margin-right: 24px;
  }

  #team .chunk.large img {
    max-height: 10vw;
  }
}

@media (min-width: 400px) {
  .chunk.small {
    /*display: flex;*/
  }
}

@media (max-width: 775px) {
  #team .chunk.large {
    display: flex;
    margin-bottom: 40px;
  }

  #team .chunk.large img {
    min-width: 26vw;
  }

  #team .chunk img {
    max-width: 26vw;
    max-width: -webkit-fill-available;
    padding: 0 2vw 10px 2vw;
  }

  #team .chunk.large h2 {
    padding-top: 20px;
  }

  #team .member {
    max-width: calc(65vw / 3);
  }
}

@media (max-width: 400px) {
  #team .chunk.large {
    margin-bottom: 30px;
    text-align: center;
    place-content: center;
  }

  #team .chunk.large img {
    max-width: -webkit-fill-available;
    max-width: 42vw;
    margin: 0 8vw 0 8vw;
  }

  #team .chunk.large .xcol {
    max-width: 70vw;
  }

  #team .chunk.large h2 {
    padding-top: 10px;
  }

  #team .chunk.small {
    justify-content: center;
  }

  #team .member {
    max-width: 70vw;
  }

  #team .member img {
    max-width: 24vw;
    object-fit: contain;
    padding: 0;
    /*max-height: 24vw;*/
  }

  #team .memtext {
    max-width: 42vw;
  }

  #team h2 {
    padding-top: 0;
  }
}

/* Contact Section -----------------------------------*/

#contact {
  background: url(../media/call-to-action-acuris.jpg) top center;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  position: relative;
}

#contact h1 {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
}

#contact .social-chunk {
    align-items: center;
    justify-content: space-between;
}

#contact .social {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 26px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 17px 8px 18px;
  border-radius: 50px;
  transition: 0.5s;
  /* margin: 10px; */
  border: 3px solid #fff;
  color: #fff;
}

#contact .social:hover {
  background: #3cae3a;
  border: 3px solid #3cae3a;
}

@media (max-width: 775px) {
  #contact .social-chunk {
    flex-wrap: wrap;
    justify-content: center;
  }

  #contact h1 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
  }

  #contact .social {
    font-size: 20px;
  }
}